@font-face { font-family: pixel; src: url("Gameplay.ttf"); }
#body{
    background-color: rgb(19, 33, 77);
}

#navigate{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 2000px;
    height: 100px;
    position: fixed;
    left: 0px;
    top: 0px;
}

#title{
color: white;
font-family: pixel;
font-size: 30px;
position: fixed;
left: 30px;
}

#title2{
    color: white;
font-family: pixel;
font-size: 30px;
position: fixed;
right: 120px;
}

#git{
    width: 60px;
    position: fixed;
    top: 18px;
    right: 40px;
}

#backing{
    display: grid;
    position: fixed;
    height: 600px;
    width: 1800px;
    top: 190px;
    left: 80px;
    right: 40px;
    bottom: 190px;

    column-gap: 30px;
    row-gap: 30px;
}
#backing2{
    display: grid;
    position: fixed;
    height: 600px;
    width: 1800px;
    top: 190px;
    left: 680px;
    right: 40px;
    bottom: 190px;

    column-gap: 30px;
    row-gap: 30px;
}

#backing3{
    display: grid;
    position: fixed;
    height: 600px;
    width: 1800px;
    top: 190px;
    left: 1280px;
    right: 40px;
    bottom: 190px;

    column-gap: 30px;
    row-gap: 30px;
}

#pro1{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#pro1:hover{
    height: 305px;
}


#text1{
    color: white;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 100px;
}

#but1{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 100px;
    top: 420px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
}

#but1:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}

#pro2{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#pro2:hover{
    height: 305px;
}

#text2{
    color: white;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 100px;
}

#but2{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 100px;
    top: 750px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
}

#but2:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}
#pro3{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#pro3:hover{
    height: 305px;
}

#text3{
    color: white;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 700px;
}
#but3{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 700px;
    top: 420px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;

}

#but3:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}

#pro4{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#pro4:hover{
    height: 305px;
}


#text4{
    color: white;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 700px;
}

#but4{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 700px;
    top: 750px;

    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
}

#but4:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}

#pro5{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#pro5:hover{
    height: 305px;
}

#text5{
    color: white;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 1300px;
}
#but5{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 1300px;
    top: 420px;

    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
}

#but5:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}

#pro6{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#pro6:hover{
    height: 305px;
}

#text6{
    color: white;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 1300px;
}

#but6{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 1300px;
    top: 750px;

    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
}

#but6:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}

#backtomenu{
    background-color: rgb(19, 33, 77);
    border: 2px solid rgb(19, 33, 77);
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 460px;
    height: 45px;
    font-family: pixel;
    font-size: 20px;
    position: fixed;
    left: 1300px;
    top: 800px;

    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
}

#backtomenu:hover{
    transform: translateY(-5px);
    background-color: rgb(36, 55, 99);
    border-color: rgb(36, 55, 99);
}

#img1{
    width: 350px;
    height: 200px;
    position: fixed;
    left: 100px;
    top: 230px;
    border-radius: 15px;
}


